{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div>
        {% for category in categories %}
            <h3>{{ category.name }}</h3>
            {% for list in category.lists %}
                <table class="pure-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Priority</th>
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in list %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.priority }}</td>
                                <td>{{ item.owner }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>No items in list...</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>No Categories defined...</h4>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}