{% extends "base.html" %}
{% block content %}
    <div>
        <form class="pure-form">
            <fieldset>
                <legend>Please login</legend>

                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">

                <label for="remember">
                    <input id="remember" type="checkbox"> Remember Me
                </label>

                <button type="submit" class="pure-button pure-button-primary">Sign in</button>
            </fieldset>
        </form>
    </div>
{% endblock %}