{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div>
        <form action="{{ 'login'|route_url }}" method="post" class="pure-form">
            <fieldset>
                <legend>Please login</legend>
                <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
                <input name="username" type="email" placeholder="Email" required>
                <input name="password" type="password" placeholder="Password" required>

                <label for="remember">
                    <input id="remember" type="checkbox"> Remember Me
                </label>

                <button type="submit" class="pure-button pure-button-primary">Sign in</button>
            </fieldset>
        </form>
    </div>
{% endblock %}